{% extends "layout.njk" %}

{% block head %}
    <title>404 PAGE NOT FOUND - Desafio 3.3</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <h1>404 PAGE NOT FOUND</h1>
    </div>

    <div class="error404">
        <p>A pagina solicitada nao foi encontrada, favor tentar outro endereco</p>
    </div>

    <div id="linksFooter" class="links">
        <a href="https://github.com/Rocketseat" target="_blank">Github</a>
        <a href="https://www.facebook.com/rocketseat" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/rocketseat_oficial" target="_blank">Instragram</a>
    </div>
{% endblock %}